<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Marvel Heroines App </h1>
    <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
      <li style="color:red"> <%= error %></li>
      <% end %>
      <% flash.clear %>
    </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
